# Python Fundamentals

### Data types

In [25]:
#int
print(10)

#float/decimal
print(10.5)

10
10.5

In [24]:
#boolaen
print(True)
print(False)

True
False

In [26]:
#text/string

print('hello world')

hello world

In [27]:
# complex
print(5+6j)

(5+6j)

In [ ]:
# List []
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [29]:
# sets  { }
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [30]:
# tupl  ( )
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [ ]:
# dictonary  {'key':'value'}
print({'name':'nites','gender':'male'})

{'name': 'nites', 'gender': 'male'}

In [3]:
# get input from user
a = input('ente name')
a

'vaibhav'

In [5]:
a = int(input('enter a number'))
b = int(input('enter second number'))

c = a+b
print(c)

24

# Type Conversion

In [ ]:
#implicit
print(5+5.6)
print(type(5),type(5.6))

print()

10.6
<class 'int'> <class 'float'>

In [ ]:
# explicit
# str-->int

#int(4+5j)

#int --> str
a =str(5)
type(a)        #str

str

In [ ]:
fnum = input('enter a number')
snum = input('enter second num')

# str input  ---> to int

result = int(fnum) + int(snum)        #convert in int
print(result)

type(fnum)                           # str
type(result)                         # int

24

str

# Literals

In [ ]:
# save value in variables is an 'literals

a = 0b1010  #binary
b = 100     #decimal
c = 0o310   #octal
d = 0x12c   #hexadecimal


#float literal
float_1 = 10.5
float_2 = 1.5e2
float_3 = 1.5e-3

#complex literal
x = 3.14j         #print imaganary value

10

In [21]:
string = 'this is python'
strings = "this is pythoon"
char = "c"
multiline_str = """this is multi line string"""
unicode = u"\u0001f6000\u00001f606\u0001f392"
raw_str= r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

this is python
this is pythoon
c
this is multi line string
f6000 1f606f392
raw \n string

In [23]:
a = True + 4     # bydefault True value is 1
b = False +10

print('a:' ,a)
print('b:',b)

a: 5
b: 10

In [1]:
from collections import Counter
text = 'hello world'
word_counts = Counter(text)
print(word_counts)

Counter({'l': 3, 'o': 2, 'h': 1, 'e': 1, ' ': 1, 'w': 1, 'r': 1, 'd': 1})

In [ ]:
def is_prime(num):
    if num<=0:
        return False
    
    for i in range(2,num-1):
        if num%i==0:
            return False
    return True
num = 11
result = is_prime(num)
print('is {num} a prime number',result)

is{num} a prime number True

In [13]:
import pandas as pandas
import numpy as np
marks = [45,76,89,53,67,90,82,49,33,99]


#filter student who passed
for m in marks:
    if m > 50:
        print("student Passed")
    else:
        print('student failed')

student failed
student Passed
student Passed
student Passed
student Passed
student Passed
student Passed
student failed
student failed
student Passed

In [16]:
# calculate grades
for m in marks:
    if m > 85:
        print(m,': A')
    elif  m>70 and m<84:
        print(m,': B ')
    elif m>50 and m<69:
        print(m,': C')
    else:
        print(m,': Fails')

45 : Fails
76 : B
89 : A
53 : C
67 : C
90 : A
82 : B
49 : Fails
33 : Fails
99 : A

In [22]:
# add 5 grace marks who failed
n = 5
for m in marks:
    if m<50:
        m += n
    print(m)

50
76
89
53
67
90
82
54
38
99

In [24]:
# avag of class
mean = np.mean(marks)
print('average of classs :',mean)

average of classs : 68.3

In [25]:
class BankAccount:
    
    def __init__(self, balance):
        self.balance = balance
    
    def withdraw(self, amount):
        self.balance -= amount
        return self.balance
    
    def check_balance(self):
        return self.balance
    
    def month_end_check(self):
        if self.balance < 500:
            return "Please deposit money"
        else:
            self.balance -= 50
            return f"50 rupees charged. Final balance: {self.balance}"


# Object creation
account = BankAccount(1000)

# Withdraw 600
account.withdraw(600)

# Display balance
print("Total Balance:", account.check_balance())

# Month end check
print(account.month_end_check())

        
balance = 1000

Total Balance: 400
Please deposit money

In [29]:
import pandas as pd

data = {
    'Region': ['North', 'South', 'East', 'West', 'North', 'South', 'East', 'West'],
    'Product': ['A', 'A', 'B', 'B', 'A', 'B', 'A', 'B'],
    'Sales': [200, 300, 150, 400, 250, 100, 300, 500],
    'Transactions': [2, 4, 3, 5, 1, 2, 6, 3]
    }

df = pd.DataFrame(data)

# total sales per region
total_sales = df.groupby('Region')['Sales'].sum()
total_sales

Region
East     450
North    450
South    400
West     900
Name: Sales, dtype: int64

In [30]:
#count of transaction per region
tran_count = df.groupby('Region')['Transactions'].count()
tran_count

Region
East     2
North    2
South    2
West     2
Name: Transactions, dtype: int64

In [31]:
# avarage sales per region
avg_sales = df.groupby('Region')['Sales'].mean()
avg_sales

Region
East     225.0
North    225.0
South    200.0
West     450.0
Name: Sales, dtype: float64

In [34]:
# total number of transaction per region
total = df.groupby('Region')['Transactions'].sum()
total

Region
East     9
North    3
South    6
West     8
Name: Transactions, dtype: int64